.background{
    background: url("https://static.pexels.com/photos/301378/pexels-photo-301378.jpegx");
    background-color: #dbdbdb;
    background-size: cover;
    background-position: center;
    height: 1000px;
    margin-top: -3%;
  
}

.container{
    padding-top: 3%;
}


#addDrinkImage{
    width: 100%;
    margin: auto;
    margin-bottom: 12%;
}

.Wine{
    height: 200px;
    background-color: purple;
 
}

.Shot{
    color: lightslategrey;
    height: 200px;

}

.Beer{
    background-color: gold;
    height: 200px;
}

.Mixed{
    background-color: red;
    height: 200px;
}

#drinkCardImage{
    width: 100%;
    margin: auto;
    margin-bottom: 12%;
}

mat-slider{
    
    width: 100%;
}

mat-form-field{
    width: 100%;
 }

 md-card{
     align-content: center;
 }


 .resetDrinks{
     width: 90%;
 }
#pic{
    width: 18%;
    height: 100%;
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

mat-card{
    background-color: white;
}
.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


.thumbnail > li {
 
}