<div class="background">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">

      </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1>Drink Logger</h1>
      </div>
      <div class="panel-body">
        <div class="col-lg-8 offset-2">
          <p>Add your drinks and the selected time you had them to our drink Logger
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <img id="pic" src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/quizzes/alcohol_myths_and_facts_quiz/650x350_alcohol_myths_and_facts_quiz.jpg"
                  alt="...">
                <div class="row">
                  <div class="caption">
    
                    <ul class="nav nav-pills">
                        <li role="presentation" class="active"><a>Wine</a></li>
                        <li role="presentation"><a>Beer</a></li>
                        <li role="presentation"><a>Liquor</a></li>
                        <li role="presentation"><a>Mixed</a></li>
                      </ul>
                    <p>
                      <a href="#" class="btn btn-primary" role="button">Button</a>
                      <a href="#" class="btn btn-default" role="button">Button</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div>
        <div class="col-sm-6 col-md-4">
          <div class="row">
              <mat-card class="example-card">
                  <mat-card-header id="addDrinkHeader">
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title><h3>Add drinks</h3></mat-card-title>
                  </mat-card-header >
                  <img id="addDrinkImage" mat-card-image src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/quizzes/alcohol_myths_and_facts_quiz/650x350_alcohol_myths_and_facts_quiz.jpg" alt="Photo of a Shiba Inu">
                  <mat-card-content>
                    
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn btn-default">Wine</button>
                        <button type="button" class="btn btn-default">Beer</button>
                        <button type="button" class="btn btn-default">Mixed</button>
                        <button type="button" class="btn btn-default">Shots</button>
                      </div>
                      
                      <br>
                      <mat-slider  min="1" max="5" step="0.5" value="1.5"></mat-slider>
                      <mat-slider step="4" tickInterval="3"></mat-slider>
                      <br>
                  </mat-card-content>
                  
                  <mat-card-actions>
                 
                      <div class="button-row">
                        <button mat-raised-button>Reset <i class="fa fa-circle-o-notch" aria-hidden="true"></i></button>
                        <button mat-raised-button color="primary">Add Drink <i class="fa fa-plus-square" aria-hidden="true"></i></button>
                      </div>

                      
                  </mat-card-actions>
                </mat-card>
                <br>
                <md-toolbar color="primary">
                    <span>My Application </span>
                  </md-toolbar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>