.background{
    background: url("https://static.pexels.com/photos/301378/pexels-photo-301378.jpegx");
    background-color: darkblue;
    background-size: cover;
    background-position: center;
    height: 1000px;
    margin-top: -3%;
  
}

.container{
    padding-top: 3%;
}

#addDrinkHeader{
    margin-top: -10%;
   
}

#addDrinkImage{
  
}

#pic{
    width: 18%;
    height: 100%;
    display: inline-block;
    *display:inline; /* ie7 fix */
    float: none; /* this is the part that makes it work */
}

mat-card{
    background-color: white;
}
.example-button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }


.thumbnail > li {
 
}