<div class="background">
  <div class="panel panel-inverted">
    <div class="container-fluid">
    <div class="panel-body">
      <div class="col-lg-2 col-xs-5">
      <br>
      <h4>BAC</h4>
      <h4>Calories:</h4>
      <h4>Servings:</h4>
    </div>
    <div class="col-lg-2 col-xs-5">
        <br>
        <h4>{{actualBAC | number:'1.1-3'}}%</h4>
        <h4>{{calorieCount | number:'1.0-0' }}</h4>
        <h4>{{alcoholConsumed | number:'1.0-0' }}</h4>

      </div>
    </div>
  </div>
</div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
    <div class="row">

      <div class="col-md-4 col-xs-12">
        <mat-card>
          <img id="addDrinkImage" mat-card-image src="https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/quizzes/alcohol_myths_and_facts_quiz/650x350_alcohol_myths_and_facts_quiz.jpg">
          <mat-card-content>
            <label for="drinks">Drink Type</label>
            <mat-form-field>
              <mat-select [(ngModel)]="drinkType">
                <mat-option value="Beer">Beer</mat-option>
                <mat-option value="Wine">Wine</mat-option>
                <mat-option value="Mixed">Mixed</mat-option>
                <mat-option value="Shot">Shot</mat-option>
              </mat-select>
            </mat-form-field>
            <div>
     <label id="labelAlcoholContent" for="alcoholContent">Alcohol Servings</label>
              <mat-slider [(ngModel)]="drinkContent" thumb-label="true" id="alcoholContent" min="0" max="2" step="0.1" value="1.0"></mat-slider>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="addDrinkRow">
                <button (click)="onResetDrink()" mat-raised-button>Reset
                  <i class="fa fa-circle-o-notch" aria-hidden="true"></i>
                </button>
                <button (click)="onAddDrink()" mat-raised-button color="primary">Add Drink
                  <i class="fa fa-plus-square" aria-hidden="true"></i>
                </button>
              </div>
          </mat-card-actions>
        </mat-card>

      </div>
      <div *ngFor="let drink  of drinksArr" class="col-xs-6 col-md-3 col-lg-2">
        <mat-card id="displayDrink">
            <button type="button" class="close" (click)="deleteDrink(drink)"  aria-label="Close">
                <i class="fa fa-trash-o" aria-hidden="true"></i></button>
          <mat-card-header id="headerDrinks" >
            
            <div id="avatar-img" mat-card-avatar [ngClass]="drink.type"></div>
            <mat-card-title>{{drink.type}} ({{drink.serving| number:'1.0-1' }}) Serving</mat-card-title>
            <mat-card-subtitle>
              <div class="cardCont"><p><i class="fa fa-clock-o" aria-hidden="true"></i> {{drink.getTimeString() }}</p>
            <p>Calories: {{drink.calories | number:'1.0-1' }}</p>
            </div>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>          
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>